body {
  margin: 0;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
}

.container {
  display: flex;
  align-items: center;
  gap: 20px;
}

button {
  padding: 10px 20px;
  border: solid;
  cursor: pointer;
  background: yellow;
  color: hotpink;
  font-size: 16px;
}

.image-box {
  width: 500px;
  height: 300px;
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
